fastapi
uvicorn
python-multipart
pydantic
python-dotenv

google-generativeai

pymupdf
pdf2image
pytesseract
opencv-python-headless
pillow

numpy==1.26.4
pandas
scikit-learn

sentence-transformers

chromadb==0.5.5